/* Application styles could go here */

.hi { display: inline-block; padding: 5px; background: red; }
.controller-examples dt { padding-top: 10px; }
.controller-examples dd { padding-left: 10px; }
.green { font-weight: normal; color: green; }
