<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$root/resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="$root/resources/css/editions.css"/>
        <link rel="stylesheet" type="text/css" href="$root/resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$root/resources/js/bootstrap-3.0.3.min.js"/>
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a data-template="config:app-title" class="navbar-brand" href="./index.html">App Title</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <div class="col-xs-5 col-sm-3 pull-right">
                    <form class="navbar-form" role="search" action="search.html">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="term" id="term"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" formaction="search.html">
                                    <span class="glyphicon glyphicon-search"/>
                                </button>
                                <button class="btn btn-default" type="submit" formaction="search.html">
                                    <span class="glyphicon glyphicon-cog"/>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="browse.html">Browse Plays</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content" class="container"/>
    </body>
</html>